.card-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/card/card.svg);
  height: 480px;
  width: 320px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}