.card-box__image {
  display: flex;
  align-self: end;
  width: 320px;
  height: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 320px;
  grid-row: 1;
  grid-column: 1;
  border-radius: 15px;
  margin: 0;
  padding: 0;
  z-index: -1;
}